# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Data & Models (Optional: hide if files are too big)
*.csv
*.zip
archive/

# Django
db.sqlite3

# Docker
*.log
docker-compose.override.yml

# Model files (IMPORTANT)
*.pkl

# OS / IDE
.vscode/
.DS_Store

# Python envs
env/